<% if params[:name] %>
  Thanks for submitting the form!  Here are your answers:<br>
  Name: <%= @home.name %><br>
  Chocolate? <%= @home.chocolate ? "Yes!" : "No" %><br>
  Rainbows? <%= @home.rainbows ? "Yes!" : "No" %><br>
  Puppies? <%= @home.puppies ? "Yes!" : "No" %><br>
  Cold Hard Cash? <%= @home.cash ? "Yes!" : "No" %><br>
<% else %>
  <%= form_for(@result, url: home_index_path) |f| do %>
    <div>
      Name: <%= f.text_field :name %>
    </div>
    <div>
      Favorites:<br>
      <%= f.check_box :chocolate %> Chocolate<br>
      <%= f.check_box :rainbows %> Rainbows<br>
      <%= f.check_box :puppies %> Puppies<br>
      <% if Rails.env.development%>
        <%= f.check_box :cold_hard_cash %> Cold Hard Cash<br>
      <%= end %>
    </div>
    <%= submit_tag %>
  <% end %>
<% end %>
